apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
        image: dallasformularacing/auth:3fe68e46f4a397fc2150f88887b6c2e501c30da7
        ports:
        - containerPort: 5000
        env:
          # Public environment variables
          - name: ISSUER
            value: "https://api.dallasformularacing.com/v1/auth"
          - name: JWT_AUDIENCE
            value: "dfr-services"
          - name: REDIS_HOST
            value: redis.auth.svc.cluster.local
          - name: REDIS_PORT
            value: "6379"
          - name: PRIVATE_KEY_PATH
            value: "/etc/rsa-keys/private_key.pem"
          - name: PUBLIC_KEY_PATH
            value: "/etc/rsa-keys/public_key.pem"
          # Discord secrets
          - name: DISCORD_CLIENT_ID
            valueFrom:
              secretKeyRef:
                name: discord-secret
                key: DISCORD_CLIENT_ID
          - name: DISCORD_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: discord-secret
                key: DISCORD_CLIENT_SECRET
          - name: DISCORD_REDIRECT_URI
            valueFrom:
              secretKeyRef:
                name: discord-secret
                key: DISCORD_REDIRECT_URI
          - name: DISCORD_BOT_TOKEN
            valueFrom:
              secretKeyRef:
                name: discord-secret
                key: DISCORD_BOT_TOKEN
          - name: DISCORD_GUILD_ID
            valueFrom:
              secretKeyRef:
                name: discord-secret
                key: DISCORD_GUILD_ID
          
          # OAuth secrets
          - name: OAUTH_CLIENTS
            valueFrom:
              secretKeyRef:
                name: oauth-secret
                key: OAUTH_CLIENTS
        volumeMounts:
          - name: rsa-keys
            mountPath: /etc/rsa-keys
            readOnly: true
      volumes:
        - name: rsa-keys
          secret:
            secretName: rsa-keys